@model SimplesSaborMVC.ViewModels.HomeVM
@{
    ViewData["Title"] = "Home";
}

<div class="container" id="viewport">
    <div id="js-scroll-content">
        <section class="main-banner" id="home">
            <div class="js-parallax-scene">
                <div class="banner-shape-1 w-100" data-depth="0.30">
                    <img src="~/assets/images/berry.png" alt="">
                </div>
                <div class="banner-shape-2 w-100" data-depth="0.25">
                    <img src="~/assets/images/leaf.png" alt="">
                </div>
            </div>
            <div class="sec-wp">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="banner-text">
                                <h1 class="h1-title">
                                    Bem-vindo, veja nossas
                                    <span>receitas </span>
                                    saudáveis
                                </h1>
                                <div class="banner-btn mt-4">
                                    <a href="#menu" class="sec-btn">acesse o menu</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="banner-img-wp">
                                <div class="banner-img" style="background-image: url(assets/images/main-b.jpg);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="brands-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="brand-title mb-5">
                            <h5 class="h5-title">Estabelecimento em Barra Bonita</h5>
                        </div>
                        <div class="brands-row">
                            <div class="brands-box">
                                <img src="~/assets/images/brands/b1.png" alt="">
                            </div>
                            <div class="brands-box">
                                <img src="~/assets/images/brands/b2.png" alt="">
                            </div>
                            <div class="brands-box">
                                <img src="~/assets/images/brands/b3.png" alt="">
                            </div>
                            <div class="brands-box">
                                <img src="~/assets/images/brands/b4.png" alt="">
                            </div>
                            <div class="brands-box">
                                <img src="~/assets/images/brands/b5.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-sec section" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sec-title text-center mb-5">
                            <p class="sec-sub-title mb-3">SOBRE NÓS</p>
                            <h2 class="h2-title">Descubra as nossas receitas </h2>
                            <div class="sec-title-shape mb-4">
                                <img src="~/assets/images/title-shape.svg" alt="">
                            </div>
                            <p>No nosso site, você encontra receitas saudáveis que combinam praticidade e sabor, com
                                foco no ganho de massa muscular e emagrecimento. Nosso objetivo é ajudar você a
                                alcançar seus objetivos fitness de forma sustentável, com refeições balanceadas e
                                ricas em nutrientes. Seja você iniciante ou avançado no estilo de vida saudável,
                                aqui temos opções que irão facilitar sua jornada, proporcionando resultados
                                duradouros e melhor qualidade de vida.</p>
                        </div>
                    </div>
                </div>

                <section style="background-image: url(assets/images/menu-bg.png);"
                    class="our-menu section bg-light repeat-img" id="menu">
                    <div class="sec-wp">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="sec-title text-center mb-5">
                                        <p class="sec-sub-title mb-3">Nossas Receitas</p>
                                        <h2 class="h2-title">Alimente-se de forma fresca e saudável</span></h2>
                                        <div class="sec-title-shape mb-4">
                                            <img src="~/assets/images/title-shape.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-tab-wp">
                                <div class="row">
                                    <div class="col-lg-12 m-auto">
                                        <div class="menu-tab text-center">
                                            <ul class="filters">
                                                <div class="filter-active"></div>
                                                <li class="filter" data-filter=".all, .breakfast, .lunch, .dinner">
                                                    <img src="~/assets/images/menu-1.png" alt="">
                                                    Café da manhã
                                                </li>
                                                <li class="filter" data-filter=".breakfast">
                                                    <img src="~/assets/images/menu-2.png" alt="">
                                                    Almoço
                                                </li>
                                                <li class="filter" data-filter=".lunch">
                                                    <img src="~/assets/images/menu-3.png" alt="">
                                                    Jantar
                                                </li>
                                                <li class="filter" data-filter=".dinner">
                                                    <img src="~/assets/images/menu-4.png" alt="">
                                                    Bebidas
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Início das receitas -->
                            <div class="menu-list-row">
                                <div class="row g-xxl-5 bydefault_show" id="menu-dish">
                                    <!-- 1 -->

                                    @foreach (var receita in Model.Receitas)
                                    {
                                        <div class="col-lg-4 col-sm-6 dish-box-wp breakfast" data-cat="Café da manhã">
                                            <a asp-action="Receita" asp-route-id="@receita.Id">
                                                <div class="dish-box text-center">
                                                    <div class="dist-img">
                                                        <img src="@receita.Foto" alt="@receita.Nome">
                                                    </div>
                                                    <div class="dish-title">
                                                        <h3 class="h3-title">@receita.Nome</h3>
                                                        <p>@receita.Calorias calorias</p>
                                                    </div>
                                                    <div class="dish-info">
                                                        <ul>
                                                            <li>
                                                                <p>Tipo</p>
                                                                <b>@receita.Tipo</b>
                                                            </li>
                                                            <li>
                                                                <p>Pessoas</p>
                                                                <b>@receita.Rendimento</b>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>

        <section class="two-col-sec section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="sec-img mt-5">
                            <img src="~/assets/images/img1.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="sec-text">
                            <h2 class="xxl-title">Ganho de Massa </h2>
                            <p>Para ganhar massa muscular, a alimentação deve ser rica em proteínas para apoiar o
                                crescimento muscular, e em carboidratos para fornecer energia para os treinos.
                                Inclua fontes de proteína como carnes magras, peixes, ovos e leguminosas, além de
                                carboidratos complexos como grãos integrais e batata-doce. Gorduras saudáveis, como
                                as encontradas em abacates e nozes, também são importantes. Manter uma dieta
                                equilibrada, com refeições frequentes e boa hidratação, é essencial para otimizar os
                                resultados dos treinos e promover o crescimento muscular.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="two-col-sec section pt-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-1 order-2">
                        <div class="sec-text">
                            <h2 class="xxl-title">Emagrecimento</h2>
                            <p>Para emagrecer, foque em criar um déficit calórico, consumindo menos calorias do que
                                gasta. Priorize alimentos nutritivos e baixos em calorias, como frutas, vegetais e
                                proteínas magras, e escolha carboidratos complexos como grãos integrais. Inclua
                                gorduras saudáveis com moderação e mantenha-se hidratado. Comer pequenas porções ao
                                longo do dia e combinar isso com exercícios regulares ajudará a alcançar e manter o
                                emagrecimento de forma eficaz.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-2 order-1">
                        <div class="sec-img">
                            <img src="~/assets/images/img2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>